* {
  box-sizing: border-box;
}

body{
  background-color: gray;
  text-align: center;
}




/* title */

.title{
  background-color: #000000;
  color: #fff;
  font-family: '', sans-serif;
  /* background-size: 100% 100%; */
  min-height: 48rem;
  background-position: center;
  background-size: cover;
}

/* .title-container {
  padding: 5% 14% 35.5%;
} */

/* Navigation Bar */

.navbar {
  padding: 3.8rem 9rem;
  /* background-color: black; */
  color: #180149;
}
.logo {
  height: 4.8rem;
}
.navbar-brand {
  font-family: 'Colonna MT', sans-serif;
  font-size: 4rem;
  /* font-weight: bold; */
}
.nav-item {
  padding-left: 16px;
  padding-right: 16px;
}
.nav-link {
  font-family: 'Comfortaa', sans-serif;
}




/* solar_intro */

.solar_intro{
  background-color: #f2f2f2;
  background-position: center;
  background-size: cover;
}
.solar-container1 {
  padding: 4rem 14% 0;
  margin: 0;
}
.h2_solar{
  text-align: left;
  font-family: 'Comfortaa', sans-serif;
  color: #120136;
}
.ul_solar {
  padding: 2% 2% 2rem;
}
.ul_what {
  margin-bottom: 0;
}
.p_solar {
  text-align: left;
  font-family: 'Century Gothic', serif;
  color: #180149;
  font-size: 1.5rem;
  margin-bottom: 0;
}
.hr-solar1 {
  margin-top: 4rem;
  margin-bottom: 0;
  padding-bottom: 1px;
}




/* solar_ben */

.hr-solar2 {
  margin-bottom: 4rem;
  margin-top: 0;
  padding-top: 1px;
}
.solar-container2 {
  padding: 0 14% 4rem;
  margin: 0;
}
.col-for-hr {
  padding-top: 2rem;
}
.solar_ben{
  background-color: #b1e3ee;
}
/* .gif-col {
  background-color: #e6ebef;
} */
.img1 {
  height: 20rem;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  transform: rotate(-9deg);
}




/* Features */

.features {
  background-color: #f2f2f2;
  position: relative;
}
.features-container {
  padding: 8% 14% 2%;
}
.features-container2 {
  padding: 2% 25% 8%;
}
.feature-row {
  margin: auto 0;
}
.row_col {
  margin: auto;
}
.quote-wrapper {
  height: 250px;
  position: relative;
  width: 250px;
}
.text {
  background: radial-gradient(
    ellipse at center,
    /* rgba(242, 242, 242, 1) 0%,
    rgba(242, 242, 242, 1) 70%,
    rgba(0, 128, 172, 0) 70.3% */
    rgba(177, 227, 238, 1) 30%,
    rgba(130, 200, 216, 1) 70%,
    rgba(0, 128, 172, 0) 70.3%
  );
  height: 100%;
  width: 100%;
  color: #212529;
  position: relative;
  margin: 0;
}
.div_features {
  margin: auto;
  padding-top: 26%
}
.h3-features {
  font-family: 'Century Gothic', sans-serif;
  font-size: 1.5rem;
  font-weight: bold;
}
.p-features {
  color: #8f8f8f;
}
.fas {
  color: #180149;
  font-size: 4rem;
}
.icon {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 15px;
}
.icon:hover {
  color: #120136;
}





/* Testimonials */

.testimonials {
  background-color: #b1e3ee;
}
.h2-testimonials {
  font-family: 'Comfortaa', sans-serif;
  font-weight: bold;
}
.testimonial-image {
  border-radius: 10%;
  margin: 4%;
  width: 70%;
}
.carousel-item {
  padding: 4rem 14%;
  padding-bottom: 2rem;
}




/* contact */

.contact {
  background-color: #f2f2f2;
  padding: 4rem 14%
}
.contact-div {
  width: 100%;
  margin: auto;
}
.contact-h3 {
  width: 90%;
  margin-right: auto;
  margin-left: auto;
  padding: 1rem 0;
  font-family: 'Comfortaa', sans-serif;
}
.contact-p {
  width: 90%;
  margin: 13px auto;
  font-family: "Century Gothic", Verdana,sans-serif;
}
.button_contact {
  background-color: #72cce0;
  border: none;
  color: #3b4b5b;
  padding: 15px 32px 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-weight: 100;
  font-family: "Century Gothic", Verdana,sans-serif;
  margin: 20px auto 10px;
  opacity: 1;
  transition: 1s;
}
.button_contact:hover {
  opacity: 0.7;
}
.i-mail {
  color: #3b4b5b;
  font-size: 16px;
}
.contact-h4 {
  width: 90%;
  margin: 2rem auto 1rem;
  font-family: 'Comfortaa', sans-serif;
}
.contact-add {
  width: 65%;
  margin: auto;
}




/* Footer */

.footer {
  background-color: #87d4e5;
  padding: 4rem 14% 5rem;
}
.icon-footer {
  margin: 1%;
}
.i-footer {
  color:#4d4d4d;
  margin: 2%;
  font-size: 1.5rem;
}
.i-footer:hover {
  color:#333333;
}
.cp {
  margin-top: 2%;
}




@media (max-width: 991px) {
  .navbar {
    padding: 3.8rem 6rem;
  }
  .features-container {
    padding: 8% 14% 0;
  }
  .features-container2 {
    padding: 0 14% 8%;
  }
  .img1 {
    display: none;
  }
  .testimonial-image {
    margin: 4%;
    width: 80%;
  }
}
@media (max-width: 660px) {
  .navbar {
    padding: 3.8rem 2rem;
  }
  .logo {
    height: 3.5rem;
  }
  .nav-link {
    font-size: 1rem
  }
  .navbar-toggler-icon {
    width: 1.5rem;
    height: 1.5rem;
  }
  .features-container {
    padding: 8% 1% 0;
  }
  .features-container2 {
    padding: 0 1% 8%;
  }
  .hr-solar1 {
    margin-top: 0;
  }
  .hr-solar2 {
    margin-bottom: 0;
  }
  .row_col {
    margin: 0 auto;
  }
  .h2_solar, .contact-h3 {
    font-size: 1.5rem;
  }
  .p_solar {
    font-size: 1rem;
  }
  .button_contact {
    padding: 10px 20px 10px 20px;
  }
  .i-footer {
    margin: 4%;
  }
  .contact-add {
    width: 80%;
  }
  .img1 {
    display: none;
  }
  .indicators-carousel {
    margin-bottom: .2rem;
  }
  .testimonial-image {
    margin: 4%;
    width: 90%;
  }
  .h2-testimonials {
    font-size: 1.5rem;
  }
  .carousel-testimonial {
    padding-bottom: 10px;
  }
  .text {
    height: 75%;
    width: 75%;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
  }
  .icon {
    font-size: 2.7rem;
  }
  .h3-features {
    font-size: .8rem;
  }
  .row_col_1 {
    width: 43.313%;
    margin: auto;
  }
  /* .row_col_odd {
    margin: auto;
  } */
  .quote-wrapper {
    height: 200px;
    width: 200px;
  }
  .contact {
    padding: 4rem 2%
  }
  .footer {
    padding: 4rem 2% 5rem;
  }
  .solar-container1 {
    padding: 4rem 5% 0;
  }
  .solar-container2 {
    padding: 0 5% 4rem;
  }
  .ul_what {
    padding-left: 23px;
  }
}
@media (max-width: 359px) {
  .logo {
    height: 2.5rem;
  }
  .row_col_1 {
    width: 64%;
  }
  .nav-link {
    font-size: .8rem
  }
  .navbar-toggler-icon {
    width: 1em;
    height: 1em;
  }
}
